<br>
<div class="row projects">
    <div class="col col-12 col-md-6"><span class="title">Реализованные проекты</span></div>
    <div class="col col-12 col-md-6">
        <div class="element">
            <div class="text">Успешное сопровождение ряда крупных подрядных споров в рамках работы в судебном управлении одного из крупнейших подрядчиков ПАО «Газпром».</div>
            <div class="price">/ 70 000 000 ₽ </div>
        </div>

        <div class="element">
            <div class="text">Успешное сопровождение ряда крупных подрядных споров в рамках работы в судебном управлении одного из крупнейших подрядчиков ПАО «Газпром».</div>
            <div class="price">/ 70 000 000 ₽ </div>
        </div>
        <br>
    </div>
</div>
<br>