@charset "UTF-8";
@import "components/base";
@import "components/breakpoint";
@import "components/grid";
@import "components/text";

body {
    margin: 0;
    font-size: 14px;
    line-height: 1.42857143;
    color: #252525;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#adminbar-delimeter {
    position: relative;
    height: 32px;
    width: 100%;
}

html body #adminbar {
    background: #23282d;
    color: #ccc;
    font: 400 13px/32px sans-serif;
    height: 32px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 99999;
    font-size: 14px;
}

html body #adminbar a {
    color: #3c8dbc;
}

html body #adminbar a:hover {
    color: #fff;
}

ul.navi {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    clear: none;
    list-style: outside none none;
    margin: 0;
    padding: 0;
    position: relative;
    text-indent: 0;
    z-index: 99999;
    position: absolute;
    left: 10px;
    top: 2px;
    margin: 0;
    height: 32px;
    line-height: 32px;
    vertical-align: middle;
    font-size: 14px;
}

ul.navi li {
    clear: none;
    list-style: outside none none;
    margin: 0 4px;
    padding: 0;
    position: relative;
    text-indent: 0;
    z-index: 99999;
    display: inline-block;
}

ul.navi li a {
    line-height: inherit;
    padding: 0 4px;
}

p.navbar-right {
    position: absolute;
    right: 10px;
    top: 2px;
    margin: 0;
    font-size: 14px;
    height: 32px;
    line-height: 32px;
    vertical-align: middle;
}

.option-td i {
    visibility: hidden;
}

.table-row:hover .option-td i {
    visibility: visible;
}

.skin-blue .wrapper,
.skin-blue .main-sidebar,
.skin-blue .left-side {
    background-color: #F7F6F2 !important;
}

body .wrapper {
    min-height: 100vh !important;
    overflow-y: hidden;
    display: flex;
    padding: 0px;
    width: 100%;
}

body .wrapper aside {
    width: 200px;
    position: relative;
    left: 0;
    height: 100%;
    color: #fff;
    min-width: 200px;
}

body .wrapper aside #sidebg {
    width: 200px;
    position: absolute;
    top: 0;
    left: 0;
}

body .wrapper aside h4 {
    font-family: "SansBold";
    font-size: 18px;
    text-align: center;
    font-weight: bolder;
}

body .wrapper hr.delimeter {
    margin: 9px 0;
    border-top: 1px solid rgba(255, 255, 255, 0.35);
}

body .wrapper hr.field-del {
    margin: 30px 0;
    border-top: 1px solid #E1E1E1;
}

body .wrapper aside .side-menu a {
    display: block;
    width: auto;
    font-size: 16px;
    font-family: "Sans";
    color: #fff;
    line-height: 32px;
    position: relative;
}

body .wrapper aside .side-menu .sidebar-submenu li a {
    font-size: 12px;
    line-height: 32px;
}

body .wrapper aside .side-menu .sidebar-menu {
    padding: 0 0 0 10px;
}

body .wrapper aside .side-menu .sidebar-menu li {
    list-style: none;
}

body .wrapper aside .side-menu a span {
    /*position: absolute;*/
    /*left: 20%;*/
}

body .wrapper aside .side-menu a:hover {
    background: rgba(255, 255, 255, 0.15);
    text-decoration: none;
}

body .wrapper aside .side-menu a i {
    margin: 0 6px 0 10px;
    width: 20px;
}

@font-face {
    font-family: "Sans";
    src: url(/vendor/wtolk/crud/fonts/clearsansbold.woff2?0d651f8ebfa508a5faea1e03c97f1a80) format("woff2"), url(/vendor/wtolk/crud/fonts/clearsansbold.woff?f1d326af902254d77d541922ffe67beb) format("woff"), url(/vendor/wtolk/crud/fonts/clearsansbold.ttf?3c8c6c940f1c1a9258dfad7e25347c21) format("truetype");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "Sans";
    src: url(/vendor/wtolk/crud/fonts/clearsans.woff2?2e81f3d7e39f04d4aaa3b916f882530c) format("woff2"), url(/vendor/wtolk/crud/fonts/clearsans.woff?76c7e83bde05ce0e0d46f58f853aba72) format("woff"), url(/vendor/wtolk/crud/fonts/clearsans.ttf?006ab1b7f3f900b6ce54ff93f148523c) format("truetype");
    font-weight: 400;
    font-style: normal;
}

.button {
    cursor: pointer;
}

body .save.field {
    border: 4px dotted #1c1c1c;
    min-height: 300px;
    margin-top: 50px;
    border-radius: 20px;
    display: table;
    font-size: 18px;
    color: #1c1e22;
}

body {
    font-family: "Sans" !important;
}

body .save.field .text {
    display: table-cell;
    vertical-align: middle;
    padding: 20px;
}

.clear {
    clear: both;
}

.field {
    margin: 20px 0;
}

.sublinks a {
    color: #888;
    font-size: 14px;
    text-decoration: underline;
}

.sublinks .inline:not(:first-child):before {
    content: "\2022";
    margin: 0 10px;
}

.padding-10 {
    padding: 0 10px;
}

a {
    cursor: pointer;
}

* {
    position: relative;
}

.inline {
    display: inline-block;
}

.white_document_blank {
    background: #fff;
    border: 1px solid #d1d1d1;
    padding: 20px;
    border-radius: 5px;
}

/*body {padding-left: 200px; background: #f7f6f2; font-family: 'Sans'; font-size: 13px; }*/

body hr {
    border-top: 1px solid #434857;
}

body .main-page {
    padding: 0 10px;
    width: 100%;
}

.field-description .maxlength-feedback {
    position: absolute;
    display: block;
    bottom: 0;
    left: 0;
}

#login-form button,
#login-form .b {
    border-radius: 3px;
    background: #165f9f;
    color: #ffffff;
    border: 0;
    font-size: 16px;
    cursor: pointer;
    height: 40px;
    line-height: 40px;
    width: 100%;
    text-align: center;
}

.plitka-form {
    background-color: #ffffff;
    margin: 0 auto 0;
    padding: 20px 30px 30px 30px;
    border-radius: 3px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
    display: block;
    overflow: hidden;
}


.form {
    .field {
        margin: 0 0 16px 0;
        background: #F1F1F1;
        padding: 10px;
        border: 1px solid #CCCCCC;
        &.no-bg {
            border: 0;
            background: none;
            padding: 0 10px;
        }
        label {
            display: inline-block;
            max-width: 100%;
            margin-bottom: 5px;
            font-size: 14px;
            line-height: 21px;
        }
        input {
            margin: 0;
            line-height: 2;
            font-size: 16px;
            font-family: Sans;
            color: #252525;
            background-color: #fff;
            background-image: none;
            box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
            transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
            &:focus {
                outline: 0;
                box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
            }
        }
        textarea {
            width: 100%;
            border-radius: 3px;
            border: 1px solid #ccc;
            font-size: 14px;
            padding: 8px 0 8px 10px;
            margin: 0 0 16px 0;
        }
        input[type=text], input[type=email], input[type=password], .chosen-container-multi .chosen-choices {
            width: 100%;
            height: 36px;
            display: block;
            border: 1px solid #CACACA;
            font-size: 18px;
            padding: 8px 0 8px 10px;
        }
    }
    .chosen-container {
        margin: 0 0 16px 0;
    }
}



.checkbox {
    input {
        position: absolute;
        z-index: -1;
        opacity: 0;
    }
    /* для элемента label, связанного с .custom-checkbox */
    input+label {
        display: inline-flex;
        align-items: center;
        user-select: none;
    }
    /* создание в label псевдоэлемента before со следующими стилями */
    input+label::before {
        content: '';
        display: inline-block;
        width: 1em;
        height: 1em;
        flex-shrink: 0;
        flex-grow: 0;
        border: 1px solid #adb5bd;
        margin-right: 0.5em;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 50% 50%;
    }
    /* стили при наведении курсора на checkbox */
    input:not(:disabled):not(:checked)+label:hover::before {
        border-color: #b3d7ff;
    }
    /* стили для активного чекбокса (при нажатии на него) */
    input:not(:disabled):active+label::before {
        background-color: #b3d7ff;
        border-color: #b3d7ff;
    }
    /* стили для чекбокса, находящегося в фокусе */
    input:focus+label::before {
        box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
    }

    /* стили для чекбокса, находящегося в фокусе и не находящегося в состоянии checked */
    input:focus:not(:checked)+label::before {
        border-color: #80bdff;
    }

    /* стили для чекбокса, находящегося в состоянии checked */
    input:checked+label::before {
        border-color: #24A841;
        background-color: #24A841;
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='rgb(255, 255, 255)' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
    }

    /* стили для чекбокса, находящегося в состоянии disabled */
    input:disabled+label::before {
        background-color: #e9ecef;
    }
}

.select-time input {
    display: inline-block;
    width: 100px;
    padding: 2px;
    float: left;
}








@media only screen and (min-width: 0px) and (max-width: 762px) {
    body #login-form {
        margin-top: 10px;
    }

    .m10 {
        margin: 10px 0;
    }
}

/***********************************************/

.content {
    padding-left: 200px;
}

.box {
    position: relative;
    border-radius: 3px;
    background: #ffffff;
    margin-bottom: 20px;
    width: 100%;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    border: 1px solid lightgray;
    padding: 0 10px;
    box-sizing: border-box;
}

table {
    width: 100%;
    margin: 0 auto;
    vertical-align: middle;
    border-collapse: collapse;
    td {
        padding: 8px;
        line-height: 1.42857143;
        vertical-align: top;
        border-top: 1px solid #ddd;
        a {
            color: black !important;
            text-decoration: none !important;
        }
    }
    thead {
        tr {
            th {
                vertical-align: bottom;
                border-bottom: 2px solid #ddd;
                padding: 8px;
                line-height: 1.42857143;
                text-align: left;
            }
        }
    }
}

footer.main-footer {
    width: 99%;
    display: flex;
    justify-content: center;
    margin-top: 4%;
}

.side-menu h3 {
    text-align: center;
}

span.sandwitch {
    display: none;
    margin-top: 5%;
}

@media only screen and (max-width: 767px) {
    aside.sideBar {
        position: fixed;
        width: 200px;
        height: 100vh;
        margin-left: -200px;
    }

    span.sandwitch {
        display: block;
    }

    section.content {
        padding-left: 0;
    }

    .sandwitch {
        font-size: 1.8rem;
        position: absolute;
        top: 4%;
        left: 5%;
    }

    .pages-title {
        text-align: center;
        width: 69% !important;
    }
}

.button {
    cursor: pointer;
    height: 32px;
    background: #4C68EF;
    box-shadow: 0px 5px 10px #4C68EF;
    font-size: 14px;
    line-height: 14px;
    font-family: "Sans";
    vertical-align: middle;
    display: inline-block;
    align-items: center;
    padding: 9px 35px;
    margin-right: 16px;
    color: #FFFFFF;
    border: none;
    transition: all 0.15s ease-out 0s;
    &:hover {
        box-shadow: 0px 10px 20px #4C68EF;
    }
    .blue {background: #1992d5;}
    .red {background: #d5197d;}
    .cancel {background: #d54819;}
    .confirm {background: #2fa030;}
}

button.link {
    border: none;
    background: none;
    cursor: pointer;
    text-decoration: underline;
}

.auth {
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background: #E1EDF3;
}
.login-card {
    padding: 60px 0;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    background: #FFFFFF;
    border: 2px solid #6EA5E4;
    box-sizing: border-box;
    box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.36);
}
h1 {
    font-size: 24px;
    line-height: 29px;
}
